/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../img/Cafe BG Vertical.jpg");
    background-size: cover;
    color: #4c3c32;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-color: #111111;
    padding: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.TitleHead {
    position: absolute;
    left: 8rem;
    font-size: 30px;
    color: White;
}

.TitleCafe{
    position: absolute;
    left: 24rem;
    font-size: 30px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Navigation {
    position: relative;
    right: 5rem;
    font-size: 1.5rem;
}

.icon {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 35rem;
    transition: transform 0.5s ease;
}

.icon img:hover{
    transform: scale(1.2);
}


.icon img  {
    width: 50px;
    height: auto;

}

.choices {
    position:relative;
    left: 6rem;
    top: 30px;
    font-size: 1.5rem;
}

.logo img {
    max-width: 80px;
    border-radius: 10%;
    position: relative;
    left: 9px;
    transition: transform 0.5s ease;
}

.logo img:hover {
    transform: scale(1.2);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #535353;
    padding: 2px;
    
}

.hero {
    text-align: center;
    padding: 150px 0;
    color: white;
    background-image: url("../img/Cafe BG.jpg");
    background-size: cover;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 1);
}

.hero h1 {
    font-size: 70px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7),
                 -1px -1px 2px rgba(255, 255, 255, 0.5);
}

.hero p {
    font-size: 40px;
    margin-bottom: 40px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7),
                 -1px -1px 2px rgba(255, 255, 255, 0.5);
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #171616;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
}

.cta-button:hover {
    background-color: #373737;
}

.menu {

    background-size: cover;
    padding: 20rem;
    border-radius: 8px;
    text-align: center;
}

.menu h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.MenuStart {
    width: 400px; 
    height: 500px; 
    padding: 20px; 
    background-color: #f0f0f0;
    text-align: center;
    line-height: 150px;
    list-style: none;
    margin: 0 50px;
}

.MenuStart img {
    max-width: 70%;
    max-width: 60%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 20px;
}

.MenuChoose {
    display: flex;
    justify-content: space-between;
}

.MenuChoose li {
    font-size: 2.5rem;
}

.about {
    padding: 100px 0;
    text-align: center;
    background-color: #ede4d6;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.contact {
    padding: 100px 0;
    text-align: center;
    background-color: #000000;
    color: white;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.div1 {
    background-color: white;
    padding: 5px;
}